html {
    font-size: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(176, 148, 58);
  outline: 1px solid slategrey;
}

/* video background */


container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: cover;
}


/*  of video overlay container */

.videocover {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgba(35, 31, 32, 0.797);
    background-size: cover;
    margin-top: 15%;
    padding: 2%;
    font-size: 2rem;
    border: solid .1rem rgb(176, 148, 58);
}

/* finished to do item */
.done {
    text-decoration: line-through;
    color: rgba(176, 148, 58, .5);
}

/* to do items */
.headercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.todotitle {
    font-family: 'Suranna', serif;
    text-align: center;
    color: rgb(176, 148, 58);
    border-bottom: solid 0.1rem rgba(254, 194, 45, .2);
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: .9rem;
    padding-bottom: 2%;
}

.hovermsg {
    display: none;
    font-size: 1.5rem;
    margin-top: .5rem;
    padding: .5rem;
    text-transform: uppercase;
    color: rgb(176, 148, 58);
     -webkit-animation: fadein 3.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3.5s; /* Firefox < 16 */
        -ms-animation: fadein 3.5s; /* Internet Explorer */
         -o-animation: fadein 3.5s; /* Opera < 12.1 */
            animation: fadein 3.5s;
    
}

.eachtodo:hover .hovermsg {
    display: inline;
}

.eachtodo {
    width: 80%;
    font-family: 'Rokkitt', serif;
    color: rgba(250, 250, 250, 0.729);
    text-transform: uppercase;
}

/* input form */
#inputtext {
    color: rgb(176, 148, 58);
}

#inputtext:focus {
    outline: none !important;
    border: .2rem solid rgba(176, 148, 58, .8);
    box-shadow: 0 0 10px rgba(176, 148, 58, .8);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(176, 148, 58);
    font-family: 'Rokkitt', serif;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(176, 148, 58);
    font-family: 'Rokkitt', serif;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(176, 148, 58);
    font-family: 'Rokkitt', serif;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgb(176, 148, 58);
    font-family: 'Rokkitt', serif;
}

/* knock out/clear button */
#kobtn {
    padding: 5% 5%;
    text-align: center;
    width: 100%;
    border-radius: 0rem !important;
}

/* button style */
.btn-primary {
    color: #FAFAFA;
    background-color: #9E8639;
    border-color: #E8CB6D;
    width: 100%;
    border-radius: 0rem !important;
}

.btn-primary:hover {
    color: #FAFAFA;
    background-color: #BDA146;
    border-color: #E8CB6D;
    width: 100%;
    border-radius: 0rem !important;
}

.btn-primary:focus {
    outline: none !important;
    box-shadow: none;
    border-radius: 0rem !important;
}

.btn-primary:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    background-color: black !important;
    border-radius: 0rem !important;
}

.container {
    display: flex;
    justify-content: center;
}

/* keyframes for fade */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* media queries */
/* On screens that are 992px or less  */

@media screen and (max-width: 992px) {
    html {
        font-size: 8px;
    }
}

/* On screens that are 600px or less  */

@media screen and (max-width: 600px) {
    html {
        font-size: 7px;
    }
}